body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

header, footer {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  padding: 15px;
  border-radius: 10px;
}

label {
  background-color: #f5f5f5;
  font-weight: bold;
}

input, button {
  padding: 5px;
  border: none;
  box-shadow: 3px 3px 3px rgba(0, 10, 190, 0.2);
  border-radius: 15px;
}
button {
  width: 200px;
  height: 38px;
  font-weight: bold;
  background-color: indigo;
  color: white;
}
input:focus, button:focus {
  outline: 3px solid slateblue;
}

footer {
  margin-top: auto;
}
